

<div class="topnav">
    <h1>Juan Sebastian Lopez-Gallardo || 3135 course page</h1>
    <nav>
        <a href="/jlopezga/itis3135/index.html">
            <label for="home">
                Home
            </label>
        </a>

        <a href="/jlopezga/itis3135/introduction.html">
            <label for="intro">Introduction		</label>
        </a>

        <a href="/jlopezga/itis3135/Contract.htm">
            <label for="contract">Contract</label>
        </a>
        
        <a href="/jlopezga/itis3135/Projects/Form/index.html">
            <label for="form">Form</label>
        </a>

        <a href="/jlopezga/itis3135/Projects/Tables/index.html">
            <label for="tables">Tables</label>
        </a>

        <a href="/jlopezga/itis3135/Projects/Project/index.html">
            <label for="tables">Client Project Plan</label>
        </a>
    </nav>
    <hr width="50%" size="2">
    <nav>
        <a href="/jlopezga/itis3135/Projects/stuff/WEBPAGE😃 WITH&SPACES.HTML">
            <label for="crappy">Crappy Site</label>
        </a>
        <a href="/jlopezga/itis3135/Projects/CRAP/evaluation.html">
            <label for="CRAP">Website CRAP Evaluation</label>
        </a>
        <a href="/jlopezga/itis3135/Projects/Hobby/">
            <label for="hobby">Hobby</label>
        </a>       
    </nav>
</div>