<section class="menu" id="top-nav">
    <div class="topnav">
        <h1>Paragliding</h1>
        <nav>
            <a onclick="hiding('what')" href="#what">
                <label for="what">What</label>
            </a>

            <a onclick="hiding('who')" href="#who">
                <label for="who">Who</label>
            </a>

            <a onclick="hiding('when')" href="#when">
                <label for="when">When</label>
            </a>
            
            <a onclick="hiding('where')" href="#where">
                <label for="where">Where</label>
            </a>

            <a onclick="hiding('how')" href="#how">
                <label for="how">How</label>
            </a>

            <a onclick="hiding('why')" href="#why">
                <label for="why">Why</label>
            </a>

            <a onclick="hiding('ai')" href="#ai">
                <label for="ai">AI Prompts </label>
            </a>    
        </nav>
    </div>
</section>


<script src="/jlopezga/itis3135/Projects/Hobby/script.js"></script>