

<div class="topnav">
    <h1>Juan Sebastian Lopez-Gallardo || 3135 course page</h1>
    <nav>

        <a href="#home">
            <label for="home" id="home">Home</label>
        </a>

        <a href="#about">
            <label for="about" id="about">About</label>
        </a>

        <a href="/jlopezga/itis3135/Contract.htm">
            <label for="contract">Contract</label>
        </a>

        <a href="/jlopezga/itis3135/index.html">
            <label for="itis3135">
                Course Page
            </label>
        </a>

    </nav>
</div>