

<div class="topnav">
    <h1>Dinainca S.A.</h1>
    <nav>

        <a href="/jlopezga/itis3135/Projects/Dinainca-SA/index.html">
            <label for="home" id="home">Home</label>
        </a>

        <a href="/jlopezga/itis3135/Projects/Dinainca-SA/about.html">
            <label for="about" id="about">About</label>
        </a>

        <a href="/jlopezga/itis3135/Contract.htm">
            <label for="contract">Contract</label>
        </a>

        <a href="/jlopezga/itis3135/index.html">
            <label for="itis3135">
                Course Page
            </label>
        </a>

    </nav>
</div>