<div class="footer-content">
    <nav>
        <section>
                <fieldset>
                        <span>
                            <a href="https://webpages.charlotte.edu/jlopezga/">Webspace</a> | 
                            <a href="https://github.com/Jusepez11">Github</a> | 
                            <a href="https://jusepez11.github.io/">Github Pages</a> | 
                            <a href="https://github.com/jusepez11/jusepez11.github.io">Github Course Page</a> | 
                            <a href="https://www.freecodecamp.org/jusepez11">FreeCodeCamp</a> | 
                            <a href="https://www.codecademy.com/profiles/Jusepez11">Codecademy</a>
                        </span>       
                    </fieldset>
            </section>
    </nav>
    
    <p>Page built by <span class="company"><a href="Projects/Dinainca-SA/index.html">Dinainca S.A.</a></span> © 2024 <a href="https://www.freecodecamp.org/certification/jusepez11/responsive-web-design">Certified in responsive Web Design</a></p>
    
    <div class="validation-container">
        <a href="https://validator.w3.org/check?uri=https://jvidal2.github.io/itis3135/" id="validation-link-html">
            <img src="/jlopezga/itis3135/images/button_validation_html5.png" class="validation" width="88" height="31" alt="Validate webpage HTML.">
        </a>

        <a href="https://jigsaw.w3.org/css-validator/check/https://jvidal2.github.io/itis3135/" id="validation-link-css">
            <img src="/jlopezga/itis3135/images/button_validation_css.png" class="validation" width="88" height="31" alt="Validate webpage CSS.">
        </a>
    </div>
</div>