<nav>
     <section>
            <fieldset>
                    <span>
                        <a href="https://webpages.charlotte.edu/jlopezga/">Webspace</a> | 
                        <a href="https://github.com/Jusepez11">Github</a> | 
                        <a href="https://jusepez11.github.io/">Github Pages</a> | 
                        <a href="https://github.com/jusepez11/jusepez11.github.io">Github Course Page</a> | 
                        <a href="https://www.freecodecamp.org/jusepez11">FreeCodeCamp</a> | 
                        <a href="https://www.codecademy.com/profiles/Jusepez11">Codecademy</a>
                    </span>       
                </fieldset>
        </section>
</nav>
<p>Page built by <span class="company"><a href="Projects/Dinainca-SA/index.html">Dinainca S.A.</a></span> © 2024</p>