
<h1>Juan Sebastian Lopez-Gallardo || 3135 course page</h1>
<nav>
    <a href="/jlopezga/itis3135/index.html">
        <label for="home">
            <input class="button" id="home" type="button" value="Home">
        </label>
    </a>

    <a href="/jlopezga/itis3135/introduction.html">
        <label for="intro">
            <input class="button" id="intro" type="button" value="Introduction">		
        </label>
    </a>

    <a href="/jlopezga/itis3135/Contract.htm">
        <label for="contract">
            <input class="button" id="contract" type="button" value="Contract">
        </label>
    </a>
    
    <a href="/jlopezga/itis3135/Projects/Form/index.html">
        <label for="form">
            <input class="button" id="form" type="button" value="Form">
        </label>
    </a>

    <a href="/jlopezga/itis3135/Projects/Tables/index.html">
        <label for="tables">
            <input class="button" id="tables" type="button" value="Tables">
        </label>
    </a>
</nav>
<nav>
    <a href="/jlopezga/itis3135/Projects/stuff/WEBPAGE😃 WITH&SPACES.HTML">
        <label for="crappy">
            <input class="button" id="crappy" type="button" value="Crappy Site">
        </label>
    </a>
    <a href="/jlopezga/itis3135/Projects/CRAP/evaluation.html">
        <label for="CRAP">
            <input class="button" id="CRAP" type="button" value="Website CRAP Evaluation">
        </label>
    </a>    
</nav>