
<h1>Juan Sebastian Lopez-Gallardo || 3135 course page</h1>
<nav>
    <a href="index.html">
        <label for="home">
            <input class="button" id="home" type="button" value="Home">
        </label>
    </a>

    <a href="introduction.html">
        <label for="intro">
            <input class="button" id="intro" type="button" value="Introduction">		
        </label>
    </a>

    <a href="Contract.htm">
        <label for="contract">
            <input class="button" id="contract" type="button" value="Contract">
        </label>
    </a>
</nav>