<div class="footer-content">
       
    <p>Page built by <span class="company"><a href="/jlopezga/itis3135/Projects/Dinainca-SA/index.html">Dinainca S.A.</a></span> © 2024 
        <a href="https://www.freecodecamp.org/certification/jusepez11/responsive-web-design">Certified in responsive Web Design</a>
        <a href="https://www.freecodecamp.org/certification/jusepez11/javascript-algorithms-and-data-structures-v8">Certified in JS</a>
    
    </p>
    
    <div class="validation-container">
        <a href="https://validator.w3.org/check?uri=https://jvidal2.github.io/itis3135/" id="validation-link-html">
            <img src="/jlopezga/itis3135/images/button_validation_html5.png" class="validation" width="88" height="31" alt="Validate webpage HTML.">
        </a>

        <a href="https://jigsaw.w3.org/css-validator/check/https://jvidal2.github.io/itis3135/" id="validation-link-css">
            <img src="/jlopezga/itis3135/images/button_validation_css.png" class="validation" width="88" height="31" alt="Validate webpage CSS.">
        </a>
    </div>
</div>
<p>*Disclaimer: There exist a page for the UNCC game development club, I didnt know of this until I made the page, this was simply done with the best of intentions and simply as my assignmet</p>