

<div class="topnav">
    <h1>UNCC Game Development Club</h1>
</div>

<div class="hub">
    <nav>
        <a id="home-hub" href="#home">
            <label for="home" id="home">Home</label>
        </a>

        <a id="about-hub" href="#about">
            <label for="about" id="about">about</label>
        </a>

        <a id="project-gallery-hub" href="#project-gallery">
            <label for="project-gallery" id="project-gallery">Project Gallery</label>
        </a>
        
        <a id="hall-of-fame-hub" href="#hall-of-fame">
            <label for="hall-of-fame" id="hall-of-fame">Game Jam Hall Of Fame</label>
        </a>

        <a id="join-us-hub" href="#join-us">
            <label for="join-us" id="join-us">Join Us</label>
        </a>

        

    </nav>
</div>