

<div class="topnav">
    <h1>UNCC Game Development Club</h1>
</div>

<div class="hub">
    <nav>
        <a onclick="hiding('home')" href="#home">
            <label for="home">Home</label>
        </a>

        <a onclick="hiding('about')" href="#about">
            <label for="about">About</label>
        </a>
        
        <a onclick="hiding('hall-of-fame')" href="#hall-of-fame">
            <label for="hall-of-fame">Game Jam Hall Of Fame</label>
        </a>

        <a onclick="hiding('feedback')" href="#feedback">
            <label for="feedback">Feedback</label>
        </a>

        <a onclick="hiding('join-us')" href="#join-us">
            <label for="join-us">Join Us</label>
        </a>
    </nav>
</div>

<script src="page-setup.js"></script>