

<div class="topnav">
    <h1>UNCC Game Development Club</h1>
</div>

<div class="hub">
    <nav>
        <a href="#home">
            <label for="home">Home</label>
        </a>

        <a href="#about">
            <label for="about">about</label>
        </a>

        <a href="#project-gallery">
            <label for="project-gallery">Project Gallery</label>
        </a>
        
        <a href="#hall-of-fame">
            <label for="hall-of-fame">Game Jam Hall Of Fame</label>
        </a>

        <a href="#join-us">
            <label for="join-us">Join Us</label>
        </a>
    </nav>
</div>