body{
    background-color: #303036;
    color: #ffffff;
    font-family: sans-serif;
}
h1{
    text-align: center;
}

.cx-info, .service{
    text-align: center;
}

ul, ol{
    width: 50%;
    margin: 0 auto;
    text-align: left;
 }
 p{

    width: 50%;
    margin: 0 auto;
 }

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }

.me{
text-align: left;
}
img {
    display: block;
    width: 50%;
    margin: 0 auto;
}
a{
    color: #17b6ff;
}
a:hover{
    color:#60efff;
}
.sales{
    width: 12%;
}
.code{
    width: 30%;
}
.left{
text-align: left;
}
fieldset{
    display: inline-block;
}
.CRAP{
    text-decoration: none;
    color: antiquewhites;
}

fieldset[class="service-form"]{
    border: 0;
    border-radius: 5px;    
    background-color: #777783;
}    

fieldset[class="service-form"] legend{
    text-align: left;
}
form fieldset{
    max-width: 900px;
    min-width: 300px;
}
label {
    margin-top: 1px; 
    margin-bottom: 0px;
    display: inline-flex;
}
label[for="ad"]{
    display: block;
}

input {
    margin-bottom: 10px; 
    color: black;
}
input[type="checkbox"]{
    text-align: left;
    margin-left: 0;
}
input[type="range"]{
    width: 68%;
}

.button{
    text-align: center;
}
button{
    background-color: #303036;
    color: #ffffff;
    font-family: sans-serif;
}